<% include partials/header%>
<% include partials/navbar%>
<style>
     .jumbotron{
        float:none;
        text-align:center;
    }
    .col-md-4{
    }
</style>
<div class ='container'>
        <form method="post" action="/register">
                <div class = row>
                    <div class = "col-md-4 col-xs-12 col-md-offset-4 ">
                        <div class = "jumbotron">
                        <div class ="form-group">
                            <h2>הרשמה</h2>
                        </div>
                        <div class=" form-group">
                            <label for="emailInput">דוא"ל</label>
                            <input id="emailInput" class="form-control" type="email" name="username" placeholder="Example@example.com" title="insert your email" >
                        </div><!---form-group--->
                        <div class=" form-group">
                            <label for="passwordInput">סיסמא</label>
                            <input class="form-control" id="passwordInput" type="password"name="password" placeholder="password" title="insert password" >
                        </div><!---form-group--->
                        <div class="form-group">
                            <label for="nameInput">שם</label>
                            <input class="form-control" id="nameInput" type="text" name="name" placeholder="name" title="insert name" >
                        </div><!---form-group--->
                        <div class="form-group">
                            <button class ="btn btn-primary btn-md">הרשמה</button>
                        </div>
                        </div>
                    </div>
                </div><!--  row -->
        </form>
    
</div>




<% include partials/footer%>